@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background-color: #282a36;
  font-family: "space mono", sans-serif;
  height: 100vh;
}

.container {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: hidden;
  aspect-ratio: 16/9;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1rem 2.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
  background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0));
  border-radius: 0.5rem;
}

.slider_header {
  position: absolute;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.header_title {
  font-size: 1.5em;
  margin: 0 1%;
  backdrop-filter: blur(36px) saturate(100%);
  background: rgba(255, 255, 255, 0.596);
  border-radius: 0.5rem;
  padding: 10px;
}

.open_modal_button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(36px) saturate(100%);
  background: #44cf679a;
  border: none;
  gap: 10px;
  transition: all ease 0.5s;
}

.open_modal_button:hover {
  box-shadow: 0 2px 19px -10px rgba(0, 0, 0, 0.75);
  background: #44cf67;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider_nav {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.slider_nav .slider_nav_control {
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  opacity: 0.75;
  border-radius: 50%;
  transition: all ease 0.25s;
}

.slider_nav .slider_nav_control:hover {
  transform: scale(110%);
  opacity: 1;
}

.slider_nav .active {
  transform: scale(130%);
  opacity: 1;
}

.configuration_modal {
  width: 80ch;
  border: none;
  padding: 2%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f2;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0 0 0 0.7);
  gap: 0.5rem;
}

dialog[closing] {
  display: block;
  pointer-events: none;
  animation: fade-out 0.5s forwards;
}

dialog[closing]::backdrop {
  animation: fade-out 0.5s forwards;
}

.configuration_modal[open] {
  animation: fade-in 0.5s forwards;
}

.configuration_modal[open]::backdrop {
  animation: fade-in 0.5s forwards;
}

.configuration_modal::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_modal_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #f8f8f2;
  border: none;
  transition: all 0.5s;
}

.close_modal_button:hover {
  transform: scale(120%);
}

.modal_title {
  font-size: 1.3rem;
}

.add_new_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #706d5e;
}

.add_new_image_input {
  padding: 6px;
  border: 0;
  border-radius: 10px;
  color: #282a36;
  outline: none;
  flex: 1;
}

.image_link {
  border-left: 2px solid #706d5e;
  border-radius: 0;
}

.submit_new_image {
  border: 0;
  width: 20%;
  background-color: #44cf67;
  padding: 6px;
  color: #282a36;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.add_new_image_input::placeholder {
  color: #282a36;
  font-size: 1em;
}

.modal_separator {
  width: 100%;
  display: flex;
  align-items: center;
}

.modal_separator h1 {
  font-size: 1em;
  justify-self: flex-start;
  background-color: #f8f8f2;
  z-index: 1;
  margin-left: 5%;
  padding: 10px;
}

.separation_line {
  height: 1px;
  width: 100px;
  background-color: #706d5e;
  border-radius: 10px;
  position: absolute;
  width: 92%;
}

.edit_slider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 8rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.image {
  display: flex;
  justify-content: space-between;
  flex: 1;
  scroll-snap-align: start;
  min-height: 2rem;
}

.image button {
  min-width: 7%;
  border: none;
  border-radius: 10px;
  background: #f52819d7;
  margin-inline: 2%;
  cursor: pointer;
}

.image h2 {
  font-size: 1.3em;
}

/* Keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
